{#
/**
 * @file
 * Default theme implementation for empty ReqRes users list.
 *
 * Available variables:
 * - message: The message to display when no users are found.
 *
 * @see template_preprocess_reqres_users_empty()
 *
 * @ingroup themeable
 */
#}
<div class="reqres-users-block reqres-users-empty">
  <div class="empty-message">
    <p>{{ message }}</p>
  </div>
</div>
